html, body {
    font-size: 13pt;
    font-family: 'Lato', sans-serif;
    background-color: #84C68C;
}

/* Navbar */

#navbar {
    background-color: #10631B;
    color: white;
    height: 3em;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar header {
    background-color: #004208;
    padding: 0.75em;
    width: 5.5em;
    height: 2em;
}

#navbar header .bigger {
    font-size: 1.25em;
    font-weight: bold;
}

#navbar header .smaller {
    font-size: 0.75em;
    margin-left: 3em;
    color: #84C68C;
}

#navbar nav {
    position: fixed;
    top: 3em;
    width: 100%;
    display: none;
}

#navbar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar nav li {
    margin: 0;
    padding: 0;
    display: inline;
}

#navbar nav li a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    display: block;
    width: 100%;
    background-color: #52A55D;
    color: white;
    text-decoration: none;
    border-bottom: 1pt solid #84C68C;
}

#navbar nav li a:hover {
    background-color: #84C68C;
}

#navbar .right-side {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    height: 2em;
}

#navbar #mobile-menu {
    text-transform: uppercase; 
    display: inline-block;
    cursor: pointer;
    font-size: 1.5em;
    position: relative;
    top: -0.25em;
    padding-right: 1em;
}

#main {
    padding: 1em;
    margin-top: 3em;
    text-align: justify;
    background-color: white;
}

footer {
    text-align: center;
    padding-top: 1em;
    border-top: solid 1px #2C8437;
    background-image: url(../images/ue.jpg);
    height: 5em;
    background-position: 50% 3em;
    background-size: 320px 3em;
    background-repeat: no-repeat;
}

#content {
    margin-bottom: 1em;
}

input[type=checkbox]:checked ~ nav {
    display: block !important;
    position: fixed;
    top: 3em;
    width: 100%;
    height: 100%;
}

#navbar input[type=checkbox] {
    display: none;
}

a, a:visited {
    color: #2C8437;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

#lang {
    background-color: red;
    width: 2.5em;
    height: 1.5em;
    margin: 0.25em;
    display: inline-block;
    background-size: 100% 100%;
    border: solid 1px #84C68C;
}

.gb-flag {
    background-image: url(../images/gb-flag.png);
}

.pl-flag {
    background-image: url(../images/pl-flag.jpg);
}

@media screen and (min-width: 830px) {
    #mobile-menu {
        display: none;
        visibility: hidden;
    }

    #navbar nav li a {
        width: initial;
        display: inline-block;
        margin: 0;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
        height: 1.47em;
        background-color: initial;
        border: none;
    }

    #navbar nav {
        top: 0;
        padding-left: 7em;
        left: 0;
        right: 0;
        display: block;
        visibility: visible;
    }

    #navbar nav li a:hover {
        background-color: #2C8437;
    }

    #main {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*
shade 0 = #2C8437 = rgb( 44,132, 55) = rgba( 44,132, 55,1) = rgb0(0.173,0.518,0.216)
   shade 1 = #84C68C = rgb(132,198,140) = rgba(132,198,140,1) = rgb0(0.518,0.776,0.549)
   shade 2 = #52A55D = rgb( 82,165, 93) = rgba( 82,165, 93,1) = rgb0(0.322,0.647,0.365)
   shade 3 = #10631B = rgb( 16, 99, 27) = rgba( 16, 99, 27,1) = rgb0(0.063,0.388,0.106)
   shade 4 = #004208 = rgb(  0, 66,  8) = rgba(  0, 66,  8,1) = rgb0(0,0.259,0.031)

*/